<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        <title>NBA Finals Central!</title>
    </head>
    <body>
  






<div class="jumbotron text-center bg-success text-white">
    <h1 class="display-4" id="app-title">NBA Playoff Central</h1>
    <section id="dark">
    <h5 id="subhead">Who will bring home the trophy? Keep up to date with the NBA Finals.</h5>
    <button class="button" id="scrape"><span>Scrape</span></button></a>
    <a href="saved"><button class="button" id="saved-articles"><span>Saved</span></button></a>
</section>
</div>




    {{{ body }}}

        <!--External JS Link-->
        <script src="/assets/js/app.js"></script>
    </body>
</html>