<!--comments/notes modal-->
<div class="modal" tabindex="-1" role="dialog" id="comments-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="comments-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-white">
        <form>
            <div class="form-group">
                <textarea id="commentbody"class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
            </div>
        </form>
        <div class="modal-footer comments-footer">
              <button class="btn btn-secondary mr-3" id="close-comments-modal" data-dismiss="modal">Close</button> 
        </div>  
        <hr>
        <div id="user-comments">
          <h5>Article comments</h5>
            
        </div>
      </div>
    </div>
  </div>
</div>