<!--App header/jumbotron for home page-->
<div class="jumbotron text-center bg-success text-white">
    <h1 class="display-4" id="app-title">NBA Playoff Central</h1>
    <h5>Who will bring home the trophy? Keep up to date with the NBA Finals.</h5>
    <button class="btn btn-primary mt-3 btn-lg" id="scrape-articles" data-toggle="modal" data-target="#articles-found-modal">Scrape new articles</button>
    <a href="saved"><button class="btn btn-primary ml-4 mt-3 btn-lg" id="saved-articles">See saved articles</button></a>
</div>