<!--App header/jumbotron for home page-->
<div class="jumbotron text-center bg-success text-white">
    <h1 class="display-4" id="app-title">NBA Playoff Central</h1>
    <h5>Who will bring home the trophy? Keep up to date with the NBA Finals.</h5>
</div>