<!--save article-->
<div class="modal save-success-modal-sm" tabindex="-1" role="dialog" id="save-success-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Article saved successfully</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-white">
        <p class="mb-0">Click <b>Saved articles</b> in the top navigation bar to see and comment on all saved articles.</p>
      </div>
      <div class="modal-footer">
        <button type="button close-button" class="btn btn-secondary" data-dismiss="modal" id="article-saved-close-button">Close</button>
      </div>
    </div>
  </div>
</div>